{% include "header.html" %}

  <!-- Page Header -->
  <header class="masthead" style="background-image: url({{ url_for('static', filename='img/about-bg.jpg')}})">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <div class="page-heading">
            <h1>About Me</h1>
            <span class="subheading">This is what I do.</span>
          </div>
        </div>
      </div>
    </div>
  </header>

  <!-- Main Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto about-p">
        <p>Hello! I am Vivian. This is my first attempt to share things about what I am thinking/doing in my website though they might mainly be in mandarin.
           I dedicate my time to exploring new things, my most recent hobby is to build applications such as games, websites and data visualization, and this is one of my product.</p>
        <p>This place will be used to share my mood, my new learnt things, and you could make comments to me, so I will see you there. <3</p>
      </div>
    </div>
  </div>

  <hr>

  {% include "footer.html" %}